
.carousel-imagen {
    max-width: 99%;
}

body {
    background: #F0F2F5; /* Cambiamos el fondo a un tono más suave */
    font-size: 16px; /* Tamaño de fuente predeterminado */
}

/* Paleta de colores */
:root {
    --primary-color: #2E86DE; /* Azul primario */
    --secondary-color: #F7DC6F; /* Amarillo secundario */
    --text-color: #333; /* Texto principal */
}

/* Navbar */
.navbar {
    background-color: var(--primary-color);
}

/* Sección de introducción */
.introduccion {
    font-size: 18px !important;
    padding: 0 !important;
    margin: auto !important;
    margin-top: 5% !important;
    margin-bottom: 5% !important;
}

/* Cards */
.card {
    background-color: #fff;
    border: 1px solid #ddd; 
    border-radius: 10px;
    transition: transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h2, h3, h4 {
    color: #FFF; /* Color del texto en blanco */
    text-shadow: 2px 2px 8px #2E86DE, -2px -2px 8px #2E86DE, 0 0 10px #2E86DE; /* Sombra de texto para crear el efecto neón */
}

#Circuitos .card {
    background-color: var(--secondary-color);
}

#Pilotos .card {
    background-color: var(--primary-color);
}

#Leyendas .card {
    background-color: var(--secondary-color);
}

#Vehiculos .card {
    background-color: var(--primary-color);
}

/* Media queries */

@media (max-width: 767px) {
    body {
        font-size: 14px;
    }
    .introduccion {
        font-size: 14px !important;
        padding: 0 !important;
        margin-left: 5% !important;
        margin-right: 5% !important;
        margin-top: 5% !important;
        margin-bottom: 5% !important;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    body {
        font-size: 16px;
    }
    .introduccion {
        margin-left: 10% !important;
        margin-right: 10% !important;
    }
}

@media (min-width: 1024px) {
    .navbar {
        background-color: #FF9933;
    }
}


