body {
    background: #1fc551;
}

.carousel-imagen {
    max-width: 99%;
    height: 50rem;
}



@media (max-width: 359px) {
    body {
        font-size: 14px;
    }
    .navbar {
        background-color: #ff5733;
    }
    .introduccion {
        font-size: 14px !important;
        padding: 0% !important;
        margin-left: 20% !important;
        margin-right: 5% !important;
        margin-top: 5% !important;
        margin-bottom: 5% !important;
    }
}
@media (min-width: 360px) and (max-width: 767px) {
    body {
        font-size: 14px;
    }
    .navbar {
        background-color: #ffcc33;
    }
    .introduccion {
        font-size: 18px !important;
        padding: 0% !important;
        margin: auto !important;
        margin-top: 5% !important;
        margin-bottom: 5% !important;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    body {
        font-size: 16px;
    }
    .navbar {
        background-color: #ffcc33;
    }
}

@media (min-width: 1024px) {
    .navbar {
        background-color: #ff9933; 
    }
}
